.container {
  padding: 16px;
  font-family: Arial, sans-serif;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.product-image {
  width: 40%; 
  height: auto;
  object-fit: cover; 
  border-radius: 8px; 
}


.product-name {
  font-size: 1.32px;
  margin: 0.5rem 0;
}

.product-category {
  color: #888;
  margin-bottom: 0.5rem;
}

.product-price {
  font-size: 1.16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.add-to-cart,
.details {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem 0;
  width: 100%;
}

.add-to-cart:hover,
.details:hover {
  background-color: #0056b3;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  padding-top: 16px;
  border-top: 1px solid #ddd;
  color: #555;
}

/* Media query para pantallas grandes */
@media (min-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .add-to-cart,
  .details {
    width: auto;
  }
}
